html,
body,
#root,
#app {
  height: 100%;
  width: 100%;
}

.bp3-navbar-group > .bp3-button {
  margin-left: 2px;
  margin-right: 2px;
}

.bp3-navbar-group > .bp3-button:first-child {
  margin-left: 0px;
  margin-right: 2px;
}

.bp3-navbar-group > .bp3-button:last-child {
  margin-left: 2px;
  margin-right: 0px;
}
